/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: rubik;
}

.img-book-size{
    height: 250px;
}
.card-title{
    color: black;
    font-weight:bold;
}
.card-subtitle{
    color:white;
   
}
.card-text{
    color: black;
    font-weight:bold;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.container {
    margin-right: 0 !important;
    margin-left: 0 !important;

}
.details {
    min-height: 565px;
    display: flex;
    background-color: white;
    border-radius: 3%;
    width: 70%;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
.container{
    max-width: 1693px !important;
}
}
.cards-div {
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
}
.list-main {
    min-height: 611px !important;
}

body{
    background-image: url("../image/fondo.jpg");
}
.card-text {
    overflow: hidden;
    max-height: 46px;
}

 .form-control{
     width: 50% !important;
    margin-top: 5px;
 }
.input-group,.form-control {
    background-color: gray;
    border: 2px solid #dcdcdc;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
}
.input-group::placeholder, .form-control::placeholder{
    color: white;
}
.input-group:hover, .form-control:hover{
    background-color: white;
    color: black;
}
    .input-group:hover::placeholder,.footer:hover::placeholder {
        color: black;
    }
.btn-danger {
    background-color: #ff0202 !important;
    border-radius: 15px !important;
}
.btn-danger:hover{
    background-color: white !important;
    color: black;
}
main {
    min-height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconadd {
    font-size: 34px !important;
}
.float-div{
    display: flex;
    justify-content:flex-end;
}
.row{
    justify-content: center !important;
}
.col-md-4 {
    background-color: white !important;
    min-width: 500px !important;
    border-radius: 8% !important;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.float {
    border-radius: 100%;
    max-width: 50px !important;
    max-height: 48px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange !important;
}
 footer{
     background-color: white;
 }
.card {
    height: 226px;
    min-width: 19rem;
    margin-bottom: 20px;
}
.image-part,.login-part{
width: 50% !important;

}
.box-login,.details-box {
    min-width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h6 {
    font-size: 14px;
    padding: 40px;
    color: #ff0202;
}
.sinopsis {
    padding: 25px;
}
.qr{
    display: none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.box-login > h1{
    color: black;
}
.login-part,.details-part {
    display: flex !important;
    justify-content: center;
    align-items: center;

}
.details-part{
    flex-direction: column;
}

.image-part {
    background-image:url("../image/Libreria.png");
    border-right: 1px solid #80808036;
    border-radius: 3%;
}
.modal-body {
    display: flex;
    min-height: 560px;
    min-width: 650px;
    padding: 0rem;
}
.modal-content{
    border-radius: 3%;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1055px !important;
        margin: 1.75rem auto;
    }
}
/* Provide sufficient contrast against white background */
    a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
